@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #edeef6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: #993399;
    border: 0;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 15px;
    font-family: inherit;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #fff;
    width: 500px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 30px 50px;
    text-align: center;
    border-radius: 5px;
}

.modal h1 {
    margin: 0;
}

.modal p {
    opacity: 0.78;
    font-size: 14px;
}
